.el-popper {
  max-width: 820px;
}
.el-message {
  z-index: 9999;
}

.el-dialog__headerbtn{
  height: auto !important;
}

//提示弹窗z-index
.custom-tooltip-width {
  min-width: 200px;
  z-index: 9999 !important;
  // 允许多行文本换行显示
  //white-space: pre-line;
  //word-break: break-word;
  //line-height: 1.5;
}
